<footer>
  <div class="footer-wrapper">
    <div class="link-container">
      <div class="link" routerLink='/home' routerLinkActive='active'>
        <i-feather name="home"></i-feather>
      </div>
      <div class="link">
        <i-feather name="calendar"></i-feather>
      </div>
      <div class="link">
        <i-feather name="monitor"></i-feather>
      </div>
      <div class="link">
        <i-feather name="bell"></i-feather>
      </div>
      <div class="link">
        <i-feather name="check-square"></i-feather>
      </div>
    </div>
  </div>
</footer>
