:root{
  --light: #F4F9F9;
  --soft-light: #fafafa;
  --danger: #FE7471;
  --dark: #121212;
  --soft-dark: #666;
  --theme-color: #CAEEC2;
  --soft-theme-color: #E5F6DF;

  --font-small: 1rem;
  --font-medium: 1.4rem;
}
